Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components

ci: minor change
  .github/workflows/pr_validation.yml
Labels: ci/cd

ci: poetry install deps
  .github/workflows/quality_check.yml
Labels: ci/cd

ci: change pr action trigger
  .github/workflows/pr_validation.yml
  .github/workflows/quality_check.yml
Labels: ci/cd

ci: use checkout before pr validation
  .github/workflows/pr_validation.yml
  poetry.lock
Labels: ci/cd

ci: create virtualenv
  .github/workflows/pr_validation.yml
  .github/workflows/quality_check.yml
Labels: ci/cd

ci(pr): add coverage comment
  .github/workflows/pr_validation.yml
  .github/workflows/quality_check.yml
  .gitignore
  tasks/QualityTaskFile.yml
  test/components/ecoindex/compute/test_models.py
Labels: ci/cd, tooling, tests

fix: fix mypy lint errors
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/services/cache.py
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/report.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  projects/ecoindex_api/openapi.json
Labels: cli, api

ci: give pull requests right
  .github/workflows/quality_check.yml
Labels: ci/cd

ci(pr): fix CI and apply mypy fixes (#18)
  .github/workflows/pr_validation.yml
  .github/workflows/quality_check.yml
  .gitignore
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/services/cache.py
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/report.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  poetry.lock
  projects/ecoindex_api/openapi.json
  tasks/QualityTaskFile.yml
  test/components/ecoindex/compute/test_models.py
Labels: ci/cd, tooling, tests, cli, api

fix(api): validate that url must be a valid url with http or https
  components/ecoindex/models/compute.py
  test/components/ecoindex/compute/test_models.py
Labels: tests

fix(api): validate that url must be a valid url with http or https (#19)
  components/ecoindex/models/compute.py
  test/components/ecoindex/compute/test_models.py
Labels: tests

chore(api): Update API version to v3.1.1
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore(api): Update API version to v3.1.1 (#20)
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

refact(db): Use scoped session for tasks
  bases/ecoindex/backend/VERSION
  bases/ecoindex/backend/main.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/health.py
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/backend/services/ecoindex.py
  bases/ecoindex/backend/utils/__init__.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/database/__init__.py
  components/ecoindex/database/engine.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  components/ecoindex/database/repositories/worker.py
  components/ecoindex/models/enums.py
  components/ecoindex/worker_component/__init__.py
  projects/ecoindex_api/docker-compose.yml.template
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
Labels: api

fix(lint): fiw mypy issues
  components/ecoindex/database/engine.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
Labels: none

ci(quality): rename quality action
  .github/workflows/quality_check.yml
Labels: ci/cd

chore: rename API docker related tasks
  projects/ecoindex_api/Taskfile.yml
Labels: none

refactor(db): Use scoped session for tasks (#24)
  .github/workflows/quality_check.yml
  bases/ecoindex/backend/VERSION
  bases/ecoindex/backend/main.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/health.py
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/backend/services/ecoindex.py
  bases/ecoindex/backend/utils/__init__.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/database/__init__.py
  components/ecoindex/database/engine.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  components/ecoindex/database/repositories/worker.py
  components/ecoindex/models/enums.py
  components/ecoindex/worker_component/__init__.py
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/docker-compose.yml.template
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
Labels: ci/cd, api

feat(scraper): add random user agent
  components/ecoindex/scraper/scrap.py
  components/ecoindex/scraper/user_agent.py
  development/scraper_test.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
  pyproject.toml
Labels: scraper

refactor(api): creates dependencies parameters generic models
  bases/ecoindex/backend/dependencies/__init__.py
  bases/ecoindex/backend/dependencies/bff.py
  bases/ecoindex/backend/dependencies/compute.py
  bases/ecoindex/backend/dependencies/dates.py
  bases/ecoindex/backend/dependencies/host.py
  bases/ecoindex/backend/dependencies/id.py
  bases/ecoindex/backend/dependencies/pagination.py
  bases/ecoindex/backend/dependencies/version.py
  bases/ecoindex/backend/models/__init__.py
  bases/ecoindex/backend/models/dependencies_parameters/__init__.py
  bases/ecoindex/backend/models/dependencies_parameters/bff.py
  bases/ecoindex/backend/models/dependencies_parameters/compute.py
  bases/ecoindex/backend/models/dependencies_parameters/dates.py
  bases/ecoindex/backend/models/dependencies_parameters/host.py
  bases/ecoindex/backend/models/dependencies_parameters/id.py
  bases/ecoindex/backend/models/dependencies_parameters/pagination.py
  bases/ecoindex/backend/models/dependencies_parameters/version.py
  bases/ecoindex/backend/models/parameters.py
  bases/ecoindex/backend/routers/__init__.py
  bases/ecoindex/backend/routers/bff.py
  bases/ecoindex/backend/routers/compute.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/routers/tasks.py
Labels: api

docs: update projects documentation
  README.md
  docs/images/ecoindex-python-fullstack.png
  projects/ecoindex_api/README.md
  projects/ecoindex_cli/README.md
  projects/ecoindex_scraper/README.md
Labels: documentation

docs: add TOC to main readme
  README.md
Labels: documentation

docs: update projects documentation (#31)
  README.md
  docs/images/ecoindex-python-fullstack.png
  projects/ecoindex_api/README.md
  projects/ecoindex_cli/README.md
  projects/ecoindex_scraper/README.md
Labels: documentation

refactor(api): creates dependencies parameters generic models (#32)
  bases/ecoindex/backend/dependencies/__init__.py
  bases/ecoindex/backend/dependencies/bff.py
  bases/ecoindex/backend/dependencies/compute.py
  bases/ecoindex/backend/dependencies/dates.py
  bases/ecoindex/backend/dependencies/host.py
  bases/ecoindex/backend/dependencies/id.py
  bases/ecoindex/backend/dependencies/pagination.py
  bases/ecoindex/backend/dependencies/version.py
  bases/ecoindex/backend/models/__init__.py
  bases/ecoindex/backend/models/dependencies_parameters/__init__.py
  bases/ecoindex/backend/models/dependencies_parameters/bff.py
  bases/ecoindex/backend/models/dependencies_parameters/compute.py
  bases/ecoindex/backend/models/dependencies_parameters/dates.py
  bases/ecoindex/backend/models/dependencies_parameters/host.py
  bases/ecoindex/backend/models/dependencies_parameters/id.py
  bases/ecoindex/backend/models/dependencies_parameters/pagination.py
  bases/ecoindex/backend/models/dependencies_parameters/version.py
  bases/ecoindex/backend/models/parameters.py
  bases/ecoindex/backend/routers/__init__.py
  bases/ecoindex/backend/routers/bff.py
  bases/ecoindex/backend/routers/compute.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/host.py
  bases/ecoindex/backend/routers/tasks.py
Labels: api

chore(cli): update version to v2.24.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(scraper): Update scraper to v3.7.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(scraper): Update scraper to v3.7.0 (#36)
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(cli): update version to v2.24.0 (#35)
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(cli): Update version to v2.24.1
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(cli): Update version to v2.24.1 (#37)
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

feat(scraper): add html to all requests category type
  components/ecoindex/models/scraper.py
  components/ecoindex/scraper/scrap.py
  components/ecoindex/utils/mimetype.py
Labels: scraper

docs(scraper): add doc in readme to explain how to get requests details
  projects/ecoindex_scraper/README.md
Labels: documentation

feat(scraper): Aggregate requests by category
  components/ecoindex/models/scraper.py
  components/ecoindex/scraper/scrap.py
  components/ecoindex/utils/mimetype.py
  development/scraper_test.py
  test/components/ecoindex/utils/test_mimetype.py
Labels: tests, scraper

chore(scraper): add pytest picked branch
  poetry.lock
  pyproject.toml
  tasks/QualityTaskFile.yml
Labels: tooling

chore(deps): update deps
  poetry.lock
Labels: none

refactor(scraper): get_mimetype_category directly in class
  components/ecoindex/models/scraper.py
  components/ecoindex/scraper/scrap.py
  components/ecoindex/utils/mimetype.py
  development/scraper_test.py
  test/components/ecoindex/models/test_scraper.py
Labels: tests, scraper

refactor(scraper): Improve scraper from pr review
  .github/workflows/quality_check.yml
  components/ecoindex/models/scraper.py
  pyproject.toml
  tasks/QualityTaskFile.yml
Labels: ci/cd, tooling

feat(scraper): Aggregate requests by category (#47)
  .github/workflows/quality_check.yml
  components/ecoindex/models/scraper.py
  components/ecoindex/scraper/scrap.py
  development/scraper_test.py
  poetry.lock
  projects/ecoindex_scraper/README.md
  pyproject.toml
  tasks/QualityTaskFile.yml
  test/components/ecoindex/models/test_scraper.py
Labels: ci/cd, documentation, tooling, tests, scraper

chore(scraper): Update version to v3.8.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish_docker_hub.yml
  tasks/PoetryTaskfile.yml
Labels: ci/cd
