Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

chore(scraper): Bump scraper version to 3.10.1
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(cli): Bump CLI version to 2.27.1
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(api): Bump API version to 3.5.1
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

doc(compute): Update readme to use `compute_ecoindex()` method
  development/ecoindex_compute.py
  projects/ecoindex_compute/README.md
  projects/ecoindex_compute/poetry.lock
Labels: documentation

doc(compute): Update readme to use `compute_ecoindex()` method (#74)
  development/ecoindex_compute.py
  projects/ecoindex_compute/README.md
  projects/ecoindex_compute/poetry.lock
Labels: documentation

chore(compute): Bump compute version to 5.8.0
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: compute

chore(common): Update deps
  poetry.lock
Labels: none

chore(scraper): Install setuptools to work with python 3.12 and update doc
  development/ecoindex_scraper.py
  poetry.lock
  projects/ecoindex_scraper/README.md
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
  pyproject.toml
Labels: documentation

chore(scraper): Install setuptools to work with python 3.12 and update doc (#73)
  development/ecoindex_scraper.py
  poetry.lock
  projects/ecoindex_scraper/README.md
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
  pyproject.toml
Labels: documentation

chore(scraper): Bump scraper version to 3.11.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

feat(api): Add glitchtip to API backend and worker to monitor exceptions
  bases/ecoindex/backend/main.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/config/settings.py
  poetry.lock
  projects/ecoindex_api/.env.template
  projects/ecoindex_api/README.md
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: documentation, api

feat(api): Add glitchtip to API backend and worker to monitor exceptions (#76)
  bases/ecoindex/backend/main.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/config/settings.py
  poetry.lock
  projects/ecoindex_api/.env.template
  projects/ecoindex_api/README.md
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: documentation, api

chore(api): Bump API version to 3.6.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

Update README.md
  projects/ecoindex_cli/README.md
Labels: documentation

Update projects/ecoindex_cli/README.md
  projects/ecoindex_cli/README.md
Labels: documentation

docs(cli): Update README.md (#84)
  projects/ecoindex_cli/README.md
Labels: documentation

refact(scraper):Create a bulk analyzis helper for scraper and refactor cli
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/helper.py
  components/ecoindex/scraper/helper.py
  components/ecoindex/scraper/scrap.py
  development/ecoindex_scraper.py
Labels: scraper, cli

refact(scraper):Create a bulk analyzis helper for scraper and refactor cli (#86)
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/helper.py
  components/ecoindex/scraper/helper.py
  components/ecoindex/scraper/scrap.py
  development/ecoindex_scraper.py
Labels: scraper, cli

chore(scraper): Bump scraper version to 3.12.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(cli): Bump CLI version to 2.28.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(api): Bump API version to 3.7.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

docs(contributing): Update license
  CONTRIBUTING.md
Labels: documentation

docs(contributing): Update license (#89)
  CONTRIBUTING.md
Labels: documentation

fix(scraper): Fix bulk analyzis helper to return a sync Generator
  bases/ecoindex/cli/app.py
  components/ecoindex/scraper/helper.py
Labels: scraper, cli

fix(scraper): Fix tests
  components/ecoindex/scraper/helper.py
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper

refactor(cli): Update dockerfile
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
Labels: none

fix(scraper): Fix bulk analyzis helper to return a sync Generator (#99)
  bases/ecoindex/cli/app.py
  components/ecoindex/scraper/helper.py
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper, cli

chore(scraper): Bump scraper version to 3.12.1
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(cli): Bump CLI version to 2.28.1
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

ci(all): Refactor build publish action to one common workflow
  .github/workflows/build_publish.yml
Labels: ci/cd

ci: Fix Mattermost release message
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci: Fix Mattermost release message (#101)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

feat(ui): Init UI to run tests locally
  development/ui.py
  poetry.lock
  pyproject.toml
Labels: none

feat(scraper): add basic auth and cookies
  components/ecoindex/scraper/scrap.py
Labels: scraper

refactor: remove playwright stealth and improve UI
  components/ecoindex/scraper/scrap.py
  development/ui.py
Labels: scraper

feat(api): Add a check when posting a new task if the url is reachable
  bases/ecoindex/backend/routers/tasks.py
  components/ecoindex/models/response_examples.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
Labels: api

refactor: Improve error management
  bases/ecoindex/cli/app.py
  components/ecoindex/exceptions/scraper.py
  components/ecoindex/scraper/helper.py
  components/ecoindex/scraper/scrap.py
  development/ui.py
Labels: scraper, cli

chore: Create a devcontainer configuration
  .devcontainer/devcontainer.json
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: none

feat(api): Add the possibility to save results from external source
  components/ecoindex/database/models/__init__.py
Labels: none

chore: Create a devcontainer configuration (#111)
  .devcontainer/devcontainer.json
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: none

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components
