Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components

feat(scraper): add basic auth and cookies (#102)
  components/ecoindex/scraper/scrap.py
Labels: scraper

feat(api): Add a check when posting a new task if the url is reachable (#105)
  bases/ecoindex/backend/routers/tasks.py
  components/ecoindex/models/response_examples.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
Labels: api

feat(api): Add the possibility to save results from external source
  components/ecoindex/database/models/__init__.py
Labels: none

chore: fix linting issues
  bases/ecoindex/backend/routers/bff.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/backend/utils/__init__.py
  bases/ecoindex/cli/app.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/compute/ecoindex.py
  components/ecoindex/database/helper.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  components/ecoindex/models/compute.py
  components/ecoindex/scraper/scrap.py
  development/save_db.py
Labels: compute, scraper, cli, api

feat(batch): add batch import result feature
  bases/ecoindex/backend/dependencies/validation.py
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/config/settings.py
  components/ecoindex/database/models/__init__.py
  components/ecoindex/database/repositories/worker.py
  components/ecoindex/models/tasks.py
  projects/ecoindex_api/.env.template
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/alembic/versions/5afa2faea43f_.py
Labels: api

chore: fix linting and poetry issues
  .devcontainer/devcontainer.json
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/worker/tasks.py
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
  projects/ecoindex_api/docker/worker/entrypoint.sh
  projects/ecoindex_api/poetry.lock
Labels: api

chore(api): Bump API version to 3.8.0a0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

fix(api): fix worker to handle multiple queues
  .vscode/launch.json
  components/ecoindex/database/engine.py
  poetry.lock
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/docker/worker/entrypoint.sh
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
  tasks/PoetryTaskfile.yml
Labels: none

fix(scraper): To work with newest version of chromium
  components/ecoindex/scraper/scrap.py
Labels: scraper

feat(api): Add the possibility to save results from external source (#112)
  .devcontainer/devcontainer.json
  .vscode/launch.json
  bases/ecoindex/backend/VERSION
  bases/ecoindex/backend/dependencies/validation.py
  bases/ecoindex/backend/routers/bff.py
  bases/ecoindex/backend/routers/ecoindex.py
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/backend/utils/__init__.py
  bases/ecoindex/cli/app.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/compute/ecoindex.py
  components/ecoindex/config/settings.py
  components/ecoindex/database/engine.py
  components/ecoindex/database/helper.py
  components/ecoindex/database/models/__init__.py
  components/ecoindex/database/repositories/ecoindex.py
  components/ecoindex/database/repositories/host.py
  components/ecoindex/database/repositories/worker.py
  components/ecoindex/models/compute.py
  components/ecoindex/models/tasks.py
  components/ecoindex/scraper/scrap.py
  development/save_db.py
  poetry.lock
  projects/ecoindex_api/.env.template
  projects/ecoindex_api/Taskfile.yml
  projects/ecoindex_api/alembic/versions/5afa2faea43f_.py
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
  projects/ecoindex_api/docker/worker/entrypoint.sh
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
  tasks/PoetryTaskfile.yml
Labels: compute, scraper, cli, api

chore(scraper): Bump scraper version to 3.13.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

fix(cli): Fix docker build to use poetry 1.8.5
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
Labels: none

chore(cli): Bump CLI version to 2.29.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(api): Bump API version to 3.8.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

fix(api): Fix `get_latest_result` sql statement
  components/ecoindex/database/repositories/ecoindex.py
Labels: none

chore(api): Bump API version to 3.8.1
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

fix(api): Fix `get_latest_result` sql statement
  components/ecoindex/database/repositories/ecoindex.py
Labels: none

chore(api): Bump API version to 3.8.2
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore(api): Rework the way we handle errors on url precheck
  bases/ecoindex/backend/routers/tasks.py
Labels: api

chore(api): Rework the way we handle errors on url precheck (#117)
  bases/ecoindex/backend/routers/tasks.py
Labels: api

chore(api): Bump API version to 3.9.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore(api): Use custom user agent to make precheck request
  bases/ecoindex/backend/routers/tasks.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: api

chore(api): Use custom user agent to make precheck request (#118)
  bases/ecoindex/backend/routers/tasks.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  pyproject.toml
Labels: api

chore(api): Bump API version to 3.9.1
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore: Add cryptography to API and update deps
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_compute/poetry.lock
  projects/ecoindex_scraper/poetry.lock
  pyproject.toml
Labels: none

chore: Add cryptography to API and update deps (#119)
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_compute/poetry.lock
  projects/ecoindex_scraper/poetry.lock
  pyproject.toml
Labels: none

chore(compute): Bump compute version to 5.9.0
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: compute

chore(scraper): Bump scraper version to 3.14.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(cli): Bump CLI version to 2.30.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(api): Bump API version to 3.10.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore: Set UA to desktop / linux / chrome and add the ability to set custom headers in scraper
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/scraper/scrap.py
  tasks/PoetryTaskfile.yml
Labels: scraper, api

chore: Add ua-generator to scraper
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
Labels: none

chore: Use custom headers to set user agent API
  bases/ecoindex/backend/routers/tasks.py
  components/ecoindex/scraper/scrap.py
Labels: scraper, api

chore: add ua-generator to API and CLI
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: none

chore: remove unused import
  bases/ecoindex/backend/routers/tasks.py
Labels: api

chore: Set UA to desktop / linux / chrome and add the ability to set custom headers in scraper (#121)
  bases/ecoindex/backend/routers/tasks.py
  bases/ecoindex/worker/tasks.py
  components/ecoindex/scraper/scrap.py
  poetry.lock
  projects/ecoindex_api/poetry.lock
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
  projects/ecoindex_scraper/poetry.lock
  projects/ecoindex_scraper/pyproject.toml
  tasks/PoetryTaskfile.yml
Labels: scraper, api

chore(scraper): Bump scraper version to 3.15.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(api): Bump API version to 3.11.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore(api): Bump API version to 3.11.1
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api
