Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components

chore(cli): Bump CLI version to 2.25.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(api): Bump API version to 3.3.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

feat(cli): add docker env variable, add comment IPV4 and host.docker.internal to readme
  bases/ecoindex/cli/arguments_handler.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
Labels: documentation, cli

feat(cli): update argument handler to enable local analysis with docker
  bases/ecoindex/cli/arguments_handler.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  test/bases/ecoindex/cli/test_arguments_handler.py
Labels: documentation, tests, cli

fix(cli): str assigned to anyTypeUrl
  bases/ecoindex/cli/arguments_handler.py
Labels: cli

feat(settings): add Docker container variable to settings
  bases/ecoindex/cli/arguments_handler.py
  components/ecoindex/config/settings.py
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: cli

fix(cli-test): argument handler not transforming to host.docker.internal outside a docker container
  test/bases/ecoindex/cli/test_arguments_handler.py
Labels: tests

refactor(cli): remove dockerfile debug feature
  projects/ecoindex_cli/dockerfile
Labels: none

chore(cli): Bump CLI version to 2.25.1
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(cli): Bump CLI version to 2.26.0a0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

ci: add stale action, and add tag latest on docker prod
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/quality_check.yml
  .github/workflows/stale.yml
Labels: ci/cd

ci: add stale action, and add tag latest on docker prod (#55)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/quality_check.yml
  .github/workflows/stale.yml
Labels: ci/cd

docs(badges): Adds badges to readme
  README.md
  projects/ecoindex_api/README.md
  projects/ecoindex_cli/README.md
  projects/ecoindex_compute/README.md
  projects/ecoindex_scraper/README.md
Labels: documentation

docs(badges): Adds badges to readme (#56)
  README.md
  projects/ecoindex_api/README.md
  projects/ecoindex_cli/README.md
  projects/ecoindex_compute/README.md
  projects/ecoindex_scraper/README.md
Labels: documentation

feat(cli): add docker env variable, add comment IPV4 and host.docker.internal to readme
  bases/ecoindex/cli/arguments_handler.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
Labels: documentation, cli

fix(cli): str assigned to anyTypeUrl
  bases/ecoindex/cli/arguments_handler.py
Labels: cli

feat(settings): add Docker container variable to settings
  bases/ecoindex/cli/arguments_handler.py
  components/ecoindex/config/settings.py
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: cli

refactor(cli): remove dockerfile debug feature
  projects/ecoindex_cli/dockerfile
Labels: none

feat(cli): update argument handler to enable local analysis with docker
  bases/ecoindex/cli/arguments_handler.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  test/bases/ecoindex/cli/test_arguments_handler.py
Labels: documentation, tests, cli

fix(cli-test): argument handler not transforming to host.docker.internal outside a docker container
  test/bases/ecoindex/cli/test_arguments_handler.py
Labels: tests

refactor(config): remove unecessary import from typing
  components/ecoindex/config/settings.py
Labels: none

feat(cli): create a method replace_localhost_with_hostdocker, create test for this method
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/helper.py
  components/ecoindex/models/__init__.py
  components/ecoindex/models/cli.py
  projects/ecoindex_cli/dockerfile
  test/bases/ecoindex/cli/test_helper.py
Labels: tests, cli

refactor(cli): join if statements
  bases/ecoindex/cli/arguments_handler.py
Labels: cli

refactor(cli): readme quickstart section, add different alias for macos and windows
  projects/ecoindex_cli/README.md
Labels: documentation

chore(config): remove use of os
  components/ecoindex/config/settings.py
  projects/ecoindex_cli/dockerfile
Labels: none

fix(scrapper): manage audio and video requests
  components/ecoindex/scraper/scrap.py
Labels: scraper

refactor(scrapper): modify request_headers_size into response_headers_size
  components/ecoindex/scraper/scrap.py
Labels: scraper

feat(scrapper): create custom get_request_size method, and appropriate tests
  components/ecoindex/scraper/scrap.py
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper

refactor(scrapper): use lambda function to filter headers
  components/ecoindex/scraper/scrap.py
Labels: scraper

feat(cli): update argument handler to enable local analysis with docker (#48)
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/helper.py
  components/ecoindex/config/settings.py
  components/ecoindex/models/__init__.py
  components/ecoindex/models/cli.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
  test/bases/ecoindex/cli/test_arguments_handler.py
  test/bases/ecoindex/cli/test_helper.py
Labels: documentation, tests, cli

feat(cli): set up scrappy sitemap spider, and sitemap cli argument
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/sitemap.py
  projects/ecoindex_cli/README.md
  test/bases/ecoindex/cli/test_app.py
Labels: documentation, tests, cli

feat(test): add test for sitemap scrapping
  bases/ecoindex/cli/arguments_handler.py
  test/bases/ecoindex/cli/test_app.py
Labels: tests, cli

feat(cli): allow only one sitemap url, update readme to explain that recursive flag won't take effect
  bases/ecoindex/cli/app.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/poetry.lock
Labels: documentation, cli

feat(cli): enable sitemap scrapping (#57)
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/sitemap.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/poetry.lock
  test/bases/ecoindex/cli/test_app.py
Labels: documentation, tests, cli

feat(scrapper): check page method, status 200 and content type html
  components/ecoindex/scraper/scrap.py
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper

fix(scrapper): check text html mimtype failed because of specif suffix to the mimetype
  components/ecoindex/scraper/scrap.py
Labels: scraper

fix(scrapper): manage audio and video requests (#58)
  components/ecoindex/scraper/scrap.py
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper

chore(scraper): Bump scraper version to 3.10.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

chore(api): Bump API version to 3.4.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

chore(cli): Bump CLI version to 2.26.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli
