Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components

ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish_docker_hub.yml
  Taskfile.yml
Labels: ci/cd

ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Add step summary
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Change docker build context
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Change docker build context
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Change docker build context
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Change Wheel name
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Change Wheel name
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Add multi platform build and change tags
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Add multi platform build and change tags
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Use docker buildx
  .github/workflows/api_build_publish_docker_hub.yml
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
Labels: ci/cd

ci(api): Don't build for arm V7
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Fix docker publish tags
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Add release job
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Add release job
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

feat(scraper): add keydown event to trigger loading of lazy loading ressources
  components/ecoindex/scraper/scrap.py
Labels: scraper

ci(api): Improve release job
  .github/workflows/api_build_publish_docker_hub.yml
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
Labels: ci/cd

ci(api): Tests copy downloaded artifacts
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Tests copy downloaded artifacts
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Tests copy downloaded artifacts
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Tests copy downloaded artifacts
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(api): Temporary changelog file
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

chore(api): Bump API version to 3.2.0a0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

ci(api): Validate build and publish for API
  .github/workflows/api_build_publish_docker_hub.yml
Labels: ci/cd

ci(cli): Add cli action to build and deploy
  .github/workflows/cli_build_publish_docker_hub.yml
Labels: ci/cd

ci(cli): Fix ci to build deploy
  .github/workflows/cli_build_publish_docker_hub.yml
Labels: ci/cd

ci(scraper): create scraper deploy action
  .github/workflows/api_build_publish.yml
  .github/workflows/cli_build_publish.yml
  .github/workflows/scraper_build_publish.yml
Labels: ci/cd

ci(compute): add github action to build deploy
  .github/workflows/compute_build_publish.yml
Labels: ci/cd

ci(api): Fix github action to build docker images (#49)
  .github/workflows/api_build_publish.yml
  .github/workflows/api_build_publish_docker_hub.yml
  .github/workflows/cli_build_publish.yml
  .github/workflows/cli_build_publish_docker_hub.yml
  .github/workflows/compute_build_publish.yml
  .github/workflows/scraper_build_publish.yml
  Taskfile.yml
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
  projects/ecoindex_api/pyproject.toml
  tasks/PoetryTaskfile.yml
Labels: ci/cd, api

chore(api): Bump API version to 3.2.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

ci(all): Fix build deploy for all projects
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

feat(scraper): add keydown event to trigger loading of lazy loading ressources (#50)
  components/ecoindex/scraper/scrap.py
Labels: scraper

ci(all): Fix build deploy for all projects (#51)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

chore(compute): Bump compute version to 5.5.0
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: compute

chore(scraper): Bump scraper version to 3.9.0
  components/ecoindex/scraper/VERSION
  projects/ecoindex_scraper/pyproject.toml
Labels: scraper

ci(all): Update exclude scope for release step
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci(compute): fix ci so it get commits from compute scope
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Update exclude scope for release step (#52)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd
