Repository cnumr/ecoindex_python_fullstack, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, tooling, tests, compute, scraper, cli, api, components

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./**/*.md

tooling:
  - ./**/*TaskFile.yml

tests:
  - test/**

compute:
  - components/ecoindex/compute/**

scraper:
  - components/ecoindex/scraper/**

cli:
  - bases/ecoindex/cli/**

api:
  - bases/ecoindex/backend/**
  - bases/ecoindex/worker/**

components:
  - components

chore(cli): Bump CLI version to 2.26.0
  .github/workflows/test_changelog.yml
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: ci/cd, cli

ci(all): Improve method to retrieve last tag
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci(all): remove test get last tag
  .github/workflows/test_changelog.yml
Labels: ci/cd

ci(all): Improve method to retrieve last tag (#60)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
  .github/workflows/test_changelog.yml
Labels: ci/cd

changing browser: chrome -> firefox. Was getting detected as bot.
  components/ecoindex/scraper/scrap.py
Labels: scraper

ci(all): Fix docker image publish
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
Labels: ci/cd

chore(api): Bump API version to 3.4.1a0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

ci(all): Add mattermost notification on release
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

chore(compute): Bump compute version to 5.6.0a0
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: compute

ci(all): Add mattermost notification on release
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: ci/cd, compute

chore(compute): Bump compute version to 5.8.0a0
  components/ecoindex/compute/VERSION
  projects/ecoindex_compute/pyproject.toml
Labels: compute

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_compute.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci(all): Test format mattermost notification debug
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

ci(all): Fix docker image publish and add mattermost notification on release (#63)
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
  bases/ecoindex/backend/VERSION
  components/ecoindex/compute/VERSION
  projects/ecoindex_api/pyproject.toml
  projects/ecoindex_compute/pyproject.toml
Labels: ci/cd, compute, api

chore(api): Bump API version to 3.5.0
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/pyproject.toml
Labels: api

ci(all): Fix mattermost notification condition
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd

chore(cli): Bump CLI version to 2.27.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: cli

chore(project): Add a github new feature template
  .github/ISSUE_TEMPLATE/new-feature.yml
Labels: none

chore(project): Add a github new feature template
  .github/ISSUE_TEMPLATE/new-feature.yml
Labels: none

chore(project): Add a github new feature template (#65)
  .github/ISSUE_TEMPLATE/new-feature.yml
Labels: none

fix(scraper): issue on video size, reproduce the bug
  components/ecoindex/scraper/scrap.py
  development/scraper_test.py
  poetry.lock
  pyproject.toml
Labels: scraper

fix(scrapper): remove content-length from har analysis
  components/ecoindex/scraper/scrap.py
  ecoindex_0.csv
  ecoindex_1.csv
  joinned_ecoindex_https-federiconavarrete-com.csv
  joinned_ecoindex_https-www-graphic-sud-com.csv
Labels: scraper

fix(scrapper): update scrapper get_size test
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests

refact(scraper): Make some cleanup
  components/ecoindex/scraper/scrap.py
  development/scraper_test.py
  ecoindex_0.csv
  ecoindex_1.csv
  joinned_ecoindex_https-federiconavarrete-com.csv
  joinned_ecoindex_https-www-graphic-sud-com.csv
Labels: scraper

refact(scraper): Add csv files to gitignore
  .gitignore
Labels: none

fix(scraper): issue on video size, reproduce the bug (#67)
  .gitignore
  components/ecoindex/scraper/scrap.py
  development/scraper_test.py
  poetry.lock
  pyproject.toml
  test/components/ecoindex/scraper/test_scraper.py
Labels: tests, scraper
