Repository cnumr/ecoindex_python_fullstack, pull requests merged in 2024-02, with the labels that each got.

#35 chore(cli): update version to v2.24.0
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
Labels: CLI, size/Too Large

#37 chore(cli): Update version to v2.24.1
  bases/ecoindex/cli/VERSION
  projects/ecoindex_cli/pyproject.toml
Labels: CLI, size/XS

#47 feat(scraper): Aggregate requests by category
  .github/workflows/quality_check.yml
  components/ecoindex/models/scraper.py
  components/ecoindex/scraper/scrap.py
  development/scraper_test.py
  poetry.lock
  projects/ecoindex_scraper/README.md
  pyproject.toml
  tasks/QualityTaskFile.yml
  test/components/ecoindex/models/test_scraper.py
Labels: Scraper, ci/cd, tests, size/Too Large

#49 ci(api): Fix github action to build docker images
  .github/workflows/api_build_publish.yml
  .github/workflows/api_build_publish_docker_hub.yml
  .github/workflows/cli_build_publish.yml
  .github/workflows/cli_build_publish_docker_hub.yml
  .github/workflows/compute_build_publish.yml
  .github/workflows/scraper_build_publish.yml
  Taskfile.yml
  bases/ecoindex/backend/VERSION
  projects/ecoindex_api/docker/backend/dockerfile
  projects/ecoindex_api/docker/worker/dockerfile
  projects/ecoindex_api/pyproject.toml
  tasks/PoetryTaskfile.yml
Labels: API, ci/cd, size/Too Large

#50 feat(scraper): add keydown event to trigger loading of lazy loading ressources
  components/ecoindex/scraper/scrap.py
Labels: Scraper, size/XS

#51 ci(all): Fix build deploy for all projects
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: size/S, ci/cd

#52 ci(all): Update exclude scope for release step
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
Labels: ci/cd, size/XS

#55 ci: add stale action, and add tag latest on docker prod
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/quality_check.yml
  .github/workflows/stale.yml
Labels: size/S, ci/cd

#56 docs(badges): Adds badges to readme
  README.md
  projects/ecoindex_api/README.md
  projects/ecoindex_cli/README.md
  projects/ecoindex_compute/README.md
  projects/ecoindex_scraper/README.md
Labels: documentation, size/S

#48 feat(cli): update argument handler to enable local analysis with docker
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/helper.py
  components/ecoindex/config/settings.py
  components/ecoindex/models/__init__.py
  components/ecoindex/models/cli.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/dockerfile
  projects/ecoindex_cli/poetry.lock
  projects/ecoindex_cli/pyproject.toml
  test/bases/ecoindex/cli/test_arguments_handler.py
  test/bases/ecoindex/cli/test_helper.py
Labels: CLI, tests, size/Too Large

#57 feat(cli): enable sitemap scrapping
  bases/ecoindex/cli/app.py
  bases/ecoindex/cli/arguments_handler.py
  bases/ecoindex/cli/sitemap.py
  projects/ecoindex_cli/README.md
  projects/ecoindex_cli/poetry.lock
  test/bases/ecoindex/cli/test_app.py
Labels: CLI, tests, size/Too Large

#58 fix(scrapper): manage audio and video requests
  components/ecoindex/scraper/scrap.py
  test/components/ecoindex/scraper/test_scraper.py
Labels: Scraper, tests, size/M

#60 ci(all): Improve method to retrieve last tag
  .github/workflows/build_publish_api.yml
  .github/workflows/build_publish_cli.yml
  .github/workflows/build_publish_compute.yml
  .github/workflows/build_publish_scraper.yml
  .github/workflows/test_changelog.yml
Labels: ci/cd, size/M
